.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px;
}

.search-result {
    width: 200px;
    height: 240px;
    margin: 15px;
}

.img-character {
    width: auto;
    height: 200px;
}

.search-result-link {
    display: block;
    text-align: center;
}

.search-result-name {
    margin-top: 10px;
}

.btn-back {
    margin: 15px 0;
}

.form-inline .form-group.form-search {
    vertical-align: top;
}

.no-results {
    margin-top: 5px;
}

.list-option {
    margin: 15px 0;
}
