<div ng-init="vm.activate()">
    <form class="form-inline" name="searchForm" ng-submit="vm.resetPagesAndSearch()" novalidate>
        <div class="form-group form-search">
            <input type="text" ng-model="vm.searchRequest" placeholder="Search for characters" uib-typeahead="name for name in vm.autoGetCharacters($viewValue)" typeahead-loading="loadingCharacters" ng-model-options="{ debounce: 300 }" typeahead-on-select="vm.resetPagesAndSearch()" typeahead-no-results="noResults" class="form-control">

            <i ng-show="loadingCharacters" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults" class="no-results text-danger">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <h2 ng-if="vm.characters && !vm.characters.length" class="text-info">No search results.</h2>
    <h2 ng-if="vm.error" class="text-danger">Something is wrong. Please try later.</h2>

    <div ng-show="vm.characters.length">
        <div class="row">
            <div class="col-md-3 col-sm-6 list-option">
                <span>View</span>
                <select ng-model="vm.itemsPerPage" ng-change="vm.saveItemsPerPage()" ng-options="itemsPerPageOption + ' records' for itemsPerPageOption in vm.itemsPerPageOptions"></select>
                <span> at a time.</span>
            </div>
            <div class="col-md-9 col-sm-6 list-option">
                <span>Order by</span>
                <select ng-model="vm.orderBy" ng-change="vm.showOrderedItems()" ng-options="orderItemsByOption for orderItemsByOption in vm.orderItemsByOption"></select>
            </div>
        </div>

    </div>

    <div class="search-results">
        <div class="search-result" ng-repeat="character in vm.characters">
        	<marvel-character-info character="character"></marvel-character-info>
        </div>
    </div>

    <div ng-show="vm.characters.length">
        <uib-pagination ng-change="vm.savePageToUrlAndSearch()" total-items="vm.totalItems" ng-model="vm.currentPage" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="vm.itemsPerPage"></uib-pagination>
    </div>
</div>

